{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block content %}
<a class="leave" href="{{ url_for('auth.leave') }}">Leave game</a>
<div id="game"></div>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js" integrity="sha512-RjPwl9YNS2z4nf50767Vg8dW2WLVv8WmKMYhZVBgiCJaiGVNIjXcVcpzVLUzuojaUM5ACZefP6sXnaWkR0lj0w==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='use-api.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='game.js') }}" type="text/babel"></script>
{% endblock %}